@font-face {
    font-family: 'Gloria';
    src: url('../../public/fonts/title/Gloria.ttf');
}       
@font-face {
    font-family: 'MabryPro';
    src: url('../../public/fonts/MabryPro-LightItalic/MabryPro-LightItalic.woff2') format('woff2'),
         url('../../public/fonts/MabryPro-LightItalic/MabryPro-LightItalic.woff') format('woff'),
         url('../../public/fonts/MabryPro-LightItalic/MabryPro-LightItalic.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'Penna';
    src: url('../../public/fonts/Penna/penna.otf');
}  
       
   
   
  

        body {
            background-color: #E8DCC8;
            font-family: Arial, Helvetica, sans-serif;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 40px 60px;
            position: sticky;
            top: 0;
            z-index: 10;
        }

        .logo-section {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .logo {
            font-family: 'Gloria';
            font-size: 24px;
            font-weight: 700;
            color: #000;
            letter-spacing: 4px;
        }

        .logo-subtitle {
            font-family: 'Penna';
            font-size: 10px;
            color: #000;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: bolder;
        }

        nav {
            display: flex;
            gap: 35px;
            align-items: center;
        }

        nav {
            display: flex;
            gap: 30px;
            width: fit-content;
        }

        nav a {
            font-family: Penna;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            font-weight: 800;
            letter-spacing: 0.5px;
            position: relative;
            display: inline-block;
        }

        /* Diagonal line effect */
        nav a::before {
            content: '';
            position: absolute;
            background: #970d0d;
            width: 0;
            height: 1.5px;
            top: 70%;
            left: -10%;
            transform: rotate(-10deg);
            transform-origin: left center;
            transition: width 0.5s ease;
        }

        nav a:hover::before {
            width: 120%;
        }

        nav a:last-child {
            font-style: italic;
        }

        @media (max-width: 768px) {
            header {
                padding: 30px 30px;
                flex-direction: column;
                gap: 30px;
            }

            nav {
                gap: 20px;
            }

            nav a {
                font-size: 11px;
            }

            .logo {
                font-size: 20px;
            }

            .logo-subtitle {
                font-size: 9px;
            }
        }